body{
    background: url(/pictures/bac.jpg);
    color: khaki;

}
ul {
    list-style-type: none;
     margin: 0%;
     padding: 0%;
     overflow: hidden;
     background-color: rgb(90, 72, 72);
     border-radius: 20px;
     font-size: 10px;
     position: fixed;
     border-style: ridge;
 }
 li{
     float: left;
 }
 li a{
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     
 }
 li a:hover{
     background-color: blue;
 }
 .active{
    background-color: rgb(214, 16, 109);
}
.concert li{
    float: none;
}
 h4{
color: rgb(255, 136, 0);
font-weight: bolder;
font-size: 30px;
background-color: rgb(163, 17, 17);
margin: 3% 30% 3% 3%;
text-align: center;
border-style: ridge;
border-radius: 20px;


}
.direction{
    font-size: 130%;
}
.us{
    background-color: rgb(134, 10, 10);
    text-align: center;
    font-family: cursive;
}
.findus{
     border-width: 2px;
    border-style: ridge;
    border-radius: 20px;
    background-color: rgb(134, 10, 10);
    padding: 5px;
    text-align: center;
    color: white;
    margin: 0% 20% 0% 20%;
}
.contact{
    border-width: 2px;
    border-style: ridge;
    border-radius: 20px;
    background-color: rgb(71, 39, 6);
    padding: 5px;
    text-align: center;
    width: 300px;
    
    
}
.detail{
    font-size: 150%;
    background-color: rgb(63, 16, 16);
    margin: 0%  70% 0% 0%;
    padding: 0.1%  0% 0.1%  3%;
    border-radius: 20px;
    border-style: ridge;
}
.big {
 color:rgb(240, 205, 6);
}
.acedu {
    text-align: center;
}
